# [databaseCelestialObject]

In [0]:
USE [master]
GO

In [0]:
/****** Object:  Database [databaseCelestialObject]    Script Date: 06/01/2024 01:55:39 ******/
CREATE DATABASE [databaseCelestialObject]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'databaseCelestialObject', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS02\MSSQL\DATA\databaseCelestialObject.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'databaseCelestialObject_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS02\MSSQL\DATA\databaseCelestialObject_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
ALTER DATABASE [databaseCelestialObject] SET COMPATIBILITY_LEVEL = 160
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [databaseCelestialObject].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
ALTER DATABASE [databaseCelestialObject] SET ANSI_NULL_DEFAULT OFF 
GO
ALTER DATABASE [databaseCelestialObject] SET ANSI_NULLS OFF 
GO
ALTER DATABASE [databaseCelestialObject] SET ANSI_PADDING OFF 
GO
ALTER DATABASE [databaseCelestialObject] SET ANSI_WARNINGS OFF 
GO
ALTER DATABASE [databaseCelestialObject] SET ARITHABORT OFF 
GO
ALTER DATABASE [databaseCelestialObject] SET AUTO_CLOSE ON 
GO
ALTER DATABASE [databaseCelestialObject] SET AUTO_SHRINK OFF 
GO
ALTER DATABASE [databaseCelestialObject] SET AUTO_UPDATE_STATISTICS ON 
GO
ALTER DATABASE [databaseCelestialObject] SET CURSOR_CLOSE_ON_COMMIT OFF 
GO
ALTER DATABASE [databaseCelestialObject] SET CURSOR_DEFAULT  GLOBAL 
GO
ALTER DATABASE [databaseCelestialObject] SET CONCAT_NULL_YIELDS_NULL OFF 
GO
ALTER DATABASE [databaseCelestialObject] SET NUMERIC_ROUNDABORT OFF 
GO
ALTER DATABASE [databaseCelestialObject] SET QUOTED_IDENTIFIER OFF 
GO
ALTER DATABASE [databaseCelestialObject] SET RECURSIVE_TRIGGERS OFF 
GO
ALTER DATABASE [databaseCelestialObject] SET  ENABLE_BROKER 
GO
ALTER DATABASE [databaseCelestialObject] SET AUTO_UPDATE_STATISTICS_ASYNC OFF 
GO
ALTER DATABASE [databaseCelestialObject] SET DATE_CORRELATION_OPTIMIZATION OFF 
GO
ALTER DATABASE [databaseCelestialObject] SET TRUSTWORTHY OFF 
GO
ALTER DATABASE [databaseCelestialObject] SET ALLOW_SNAPSHOT_ISOLATION OFF 
GO
ALTER DATABASE [databaseCelestialObject] SET PARAMETERIZATION SIMPLE 
GO
ALTER DATABASE [databaseCelestialObject] SET READ_COMMITTED_SNAPSHOT ON 
GO
ALTER DATABASE [databaseCelestialObject] SET HONOR_BROKER_PRIORITY OFF 
GO
ALTER DATABASE [databaseCelestialObject] SET RECOVERY SIMPLE 
GO
ALTER DATABASE [databaseCelestialObject] SET  MULTI_USER 
GO
ALTER DATABASE [databaseCelestialObject] SET PAGE_VERIFY CHECKSUM  
GO
ALTER DATABASE [databaseCelestialObject] SET DB_CHAINING OFF 
GO
ALTER DATABASE [databaseCelestialObject] SET FILESTREAM( NON_TRANSACTED_ACCESS = OFF ) 
GO
ALTER DATABASE [databaseCelestialObject] SET TARGET_RECOVERY_TIME = 60 SECONDS 
GO
ALTER DATABASE [databaseCelestialObject] SET DELAYED_DURABILITY = DISABLED 
GO
ALTER DATABASE [databaseCelestialObject] SET ACCELERATED_DATABASE_RECOVERY = OFF  
GO
ALTER DATABASE [databaseCelestialObject] SET QUERY_STORE = ON
GO
ALTER DATABASE [databaseCelestialObject] SET QUERY_STORE (OPERATION_MODE = READ_WRITE, CLEANUP_POLICY = (STALE_QUERY_THRESHOLD_DAYS = 30), DATA_FLUSH_INTERVAL_SECONDS = 900, INTERVAL_LENGTH_MINUTES = 60, MAX_STORAGE_SIZE_MB = 1000, QUERY_CAPTURE_MODE = AUTO, SIZE_BASED_CLEANUP_MODE = AUTO, MAX_PLANS_PER_QUERY = 200, WAIT_STATS_CAPTURE_MODE = ON)
GO

# [dbo].[__EFMigrationsHistory]

In [0]:
USE [databaseCelestialObject]
GO

In [0]:
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 06/01/2024 01:55:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Aliens]

In [0]:
/****** Object:  Table [dbo].[Aliens]    Script Date: 06/01/2024 01:55:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Aliens](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[UrlImage] [nvarchar](max) NOT NULL,
	[Power] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[CelestialObjectId] [int] NOT NULL,
 CONSTRAINT [PK_Aliens] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

# [dbo].[CelestialObjects]

In [0]:
/****** Object:  Table [dbo].[CelestialObjects]    Script Date: 06/01/2024 01:55:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CelestialObjects](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Size] [int] NOT NULL,
	[Position] [int] NOT NULL,
	[Mesh] [float] NOT NULL,
	[Obj] [float] NOT NULL,
	[UrlImage] [nvarchar](max) NOT NULL,
	[PositionDateTime] [datetime2](7) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[BestMomentsAndSpots] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_CelestialObjects] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

# [dbo].[Satellites]

In [0]:
/****** Object:  Table [dbo].[Satellites]    Script Date: 06/01/2024 01:55:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Satellites](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[ImageUrl] [nvarchar](max) NOT NULL,
	[Orbit] [nvarchar](max) NOT NULL,
	[Mass] [float] NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[CelestialObjectId] [int] NOT NULL,
 CONSTRAINT [PK_Satellites] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

# [IX_Aliens_CelestialObjectId]

In [0]:
/****** Object:  Index [IX_Aliens_CelestialObjectId]    Script Date: 06/01/2024 01:55:39 ******/
CREATE NONCLUSTERED INDEX [IX_Aliens_CelestialObjectId] ON [dbo].[Aliens]
(
	[CelestialObjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [IX_Satellites_CelestialObjectId]

In [0]:
/****** Object:  Index [IX_Satellites_CelestialObjectId]    Script Date: 06/01/2024 01:55:39 ******/
CREATE NONCLUSTERED INDEX [IX_Satellites_CelestialObjectId] ON [dbo].[Satellites]
(
	[CelestialObjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [FK_Aliens_CelestialObjects_CelestialObjectId]

In [0]:
ALTER TABLE [dbo].[Aliens]  WITH CHECK ADD  CONSTRAINT [FK_Aliens_CelestialObjects_CelestialObjectId] FOREIGN KEY([CelestialObjectId])
REFERENCES [dbo].[CelestialObjects] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Aliens] CHECK CONSTRAINT [FK_Aliens_CelestialObjects_CelestialObjectId]
GO

# [FK_Satellites_CelestialObjects_CelestialObjectId]

In [0]:
ALTER TABLE [dbo].[Satellites]  WITH CHECK ADD  CONSTRAINT [FK_Satellites_CelestialObjects_CelestialObjectId] FOREIGN KEY([CelestialObjectId])
REFERENCES [dbo].[CelestialObjects] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Satellites] CHECK CONSTRAINT [FK_Satellites_CelestialObjects_CelestialObjectId]
GO

# [databaseCelestialObject]

In [0]:
USE [master]
GO

In [0]:
ALTER DATABASE [databaseCelestialObject] SET  READ_WRITE 
GO